.maroon { color: maroon;}
.navy { color: navy;}
.indigo { color: indigo;}
.spacing { letter-spacing: 4px; word-spacing: 10px; line-height: 40px;}
.uppercase{ text-transform: uppercase;}
.lowercase{ text-transform: lowercase;}
.capitalize{ text-transform: capitalize;}
.paragraf{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
ul{
    list-style-type:circle;
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}