.container{ 
    width: 50%;
    height: 200px;
    overflow: auto;
    margin-left: 0 auto;
}
.static{ position: static; border: 2px solid green;}
.relative{
    position: relative;
    border: 2px solid red;
    left: 20px; /*Distance from the left as big as 20px */
    bottom: 0px; /*Distance from the bottom as big as 0px */
}
.absolute{ position: absolute; border: 2px solid blue; left: 20px; bottom: 40px;}
.absolute{ position: fixed; border: 2px solid black; right: 0; bottom: 0;}
.sticky{ position: sticky; 
    border: 2px solid yellow;
    top: 0; 
    left: 20px;
    background: darkblue;
    color: white;
}
